<div fxLayoutAlign="center start">
  <div fxFlex.gt-md="66" fxFlex fxLayout="column">
    <form fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center start" fxLayoutGap.gt-sm="1rem">
      <mat-form-field fxFlex appearance="fill">
        <mat-label>Erster Wert</mat-label>
        <input matInput name="major" type="number" min="1" max="6" [(ngModel)]="major" (change)="search()">
      </mat-form-field>

      <mat-form-field fxFlex appearance="fill">
        <mat-label>Zweiter Wert</mat-label>
        <input matInput name="minor" type="number" min="1" max="6" [(ngModel)]="minor" (change)="search()">
      </mat-form-field>

      <mat-form-field fxFlex appearance="fill">
        <mat-label>Dritter Wert</mat-label>
        <input matInput name="patch" type="number" min="1" max="6" [(ngModel)]="patch" (change)="search()">
      </mat-form-field>

      <button mat-fab color="primary" fxHide.lt-md (click)="search()">
        <mat-icon>search</mat-icon>
      </button>

      <button mat-raised-button fxFlex color="primary" fxHide.gt-sm (click)="search()">
        <mat-icon>search</mat-icon>
        Suchen
      </button>
    </form>

    <mat-card fxFlexOffset="1rem" fxFlexOffset.lt-md="3rem">
      <mat-card-title>Ergebnis</mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutGap="1rem">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
          <span>Wert: </span>
          <mat-chip-list>
            <mat-chip color="primary">{{value}}</mat-chip>
          </mat-chip-list>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
          <span>Ergebnis: </span>
          <mat-chip-list>
            <mat-chip color="primary">{{result}}</mat-chip>
          </mat-chip-list>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
          <span>Index: </span>
          <mat-chip-list>
            <mat-chip color="primary">{{index}}</mat-chip>
          </mat-chip-list>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-accordion fxFlexOffset="1rem">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Alle Werte
          </mat-panel-title>
        </mat-expansion-panel-header>

        <table>
          <tr>
            <th>Index</th>
            <th>Wert</th>
            <th>Ergebnis</th>
          </tr>
          <tr *ngFor="let combi of combinations;let idx = index" [ngClass]="{'selected': combi === value}">
            <td>{{idx + 1}}</td>
            <td>{{combi}}</td>
            <td>{{getResult(combi)}}</td>
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>